<!doctype html>
<html lang="en">
    <head>
    	<style>
            .uri {
                color: gray;
            }

            .uri.indexable {
                color: black;
            }

    		.INFO {
    			background-color: #9999FF;
    		}

    		.WARN {
    			background-color: yellow;
    		}

    		.ERROR {
    			background-color: #FF9999;
    		}
    	</style>
    </head>
  <body>
    <h3>
        {{uriCount}} urls crawled. {{indexedUriCount}} indexable, {{warnings}} warnings, {{errors}} errors.
    </h3>

	{{#each uris}}
        <div class="uri {{#if indexable}}indexable{{/if}}" id="{{uri}}">
            <h4> {{uri}}. {{warnings}} warnings, {{errors}} errors.</h4>
    		{{#each messages}}
                {{#if linkedUri}}
                    <a href="#{{linkedUri}}">
                {{/if}}
        			<p class="{{level}}">{{message}}</p>
                {{#if linkedUri}}
                    </a>
                {{/if}}
    		{{/each}}
        </div>
  	{{/each}}
  </body>
</html>